*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-titulo: #7D70BA;
    --color-linea: #C7C8C7;
    --color-blue: #0facf3;
    --color-white: #ffffff;
    --color-gris: #fafafa;
    --color-letra: #6B6C6A;
    --color-azul: rgb(7, 71, 166);
    --color-azul-claro: #0facf3;
    --color-red: rgb(209, 57, 57);
}



.titulo{
    font-size: 2em;
    color: var(--color-titulo);
    margin: 10px auto 0 auto;  
}
.text-center{
    text-align: center;
}

.form-busqueda{
    margin: 20px;

    display: flex;
    flex-flow: row grap;
    justify-content: center;
}

.input-search{
    width: 250px;
    background-color: var(--color-gris);
    border: 1px solid var(--color-linea);
    border-radius: 3px;
    margin: 0 2px;
    padding: 5px 10px;
}

.btn-submit{
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin: 0 2px;
}

.grupo-caja{
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));/*tamaño de columna*/
    grid-template-rows: auto;
    grid-gap: 20px 40px;
}

.caja{
    padding: 5px;
}

.titulo-caja{
    width: 100%;
    color: var(--color-letra);
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 0;
}
.img-caja{
    width: 100%;
}

.footer{
    border-top: 1px solid var(--color-linea);
    width: 90%;
    margin: auto;
    padding: 25px 0;
    color: var(--color-letra);
}

/*estilos moto*/

.container{
    position: relative;
    width: 90%;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.container-img{
    width: 50%;

    display: flex;
    justify-content: center;
    align-content: center;
}
.imagen{
    width: 100%;
}
.container-description{
    width: 50%;
}

.container-description-title{
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-description-clave-valor{
    padding-top: 20px;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}
.container-description-clave-valor span{
    display: block;
    padding-bottom: 5px;
    font-size: 1.2em;
}
.container-description-clave{
    margin-right: 20px;
}
.container-description-valor{
    font-weight: bold;
}


.container-cotizar{
    position: relative;
    width: 100%;
}
.cotizar-box{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 13px 5px -10px;
    padding: 10px;
    border: 1px solid var(--color-linea);
    min-width: 300px;
    max-width: 500px;
}
.title-cotizar{
    margin-bottom: 20px;
}
.container-form-cotizar{
    display: flex;
    flex-flow: row nowrap
}
.line-horizontal{
    border-style: solid;
}

.form > input{
    display: block;
}

.form,
.retults{
    display: inline-block;
    width: 50%;
}
.results{
    display: flex;
    flex-flow: row nowrap;

}
.result-meses > span{
    display: block;
    margin-right: 15px;
    margin-left: 15px;
}
.result-precio > span{
    display: block;
}

.title-results-similares{
    margin-top: 30px;
}


/*login*/

.body{
    min-height: 100vh;
    background-color: var(--color-azul);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-login{
    font-size: 3em;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 50px;
}
.login{
    font-size: 1em;
    position: relative;
    display: inline-block;
    background: var(--color-white);
    width: 400px;
    /*height: 400px;*/
    border-radius: 3px;
    padding: 35px;
}
.label-login{
    font-size: initial;
    display: inline-block;
    margin-bottom: 5px;
}
.input-login{
    color: var(--color-letra);
    font-weight: 100;
    font-size: inherit;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 15px;
    border-color: var(--color-linea);
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
}
.button-login{
    font-size: inherit;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-white);
    background-color: var(--color-azul);
}
.button-login:hover{
    background-color: var(--color-azul-claro);
}

/*dashboard*/
.header-dashboard{
    font-size: 1.2em;
    padding: 20px 10px;
    background: var(--color-azul);
    color: var(--color-white);
}
.cerrar-session{
    color: inherit;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
}
.cerrar-session:hover{
    background-color: var(--color-red);
    border-radius: 3px;   
}

.container-dashboard{
    margin-top: 35px;

    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.navegacion-dashboard{
    padding-left: 35px;
    padding-right: 35px;
}
.ul-navegacion{
    position: relative;
    width: 100%;
}
.list-nav{
    color: var(--color-azul);
    width: inherit;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.list-nav:hover{
    background-color: var(--color-azul);
    color: var(--color-white);
    text-decoration: underline;
}
.link-nav{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1.1em;
    width: inherit;
    padding-left: 10px;
    padding-right: 10px;
}
.list-nav-active{
    background-color: var(--color-azul);
    color: var(--color-white);
    text-decoration: underline;
}

.main-dashboard{
    /*background: #6B6C6A;*/
}
.table{
    
}
.table-title{
    font-size: 2.5em;
    padding-bottom: 20px;
    font-weight: bold;
    color: var(--color-azul)
}
.th{
    color: var(--color-azul-claro)
}
.tbody{
}
.tbody-tr{
    border-bottom: 1px solid var(--color-linea)
}
.tbody-td{
    color: var(--color-letra);
    text-align: center;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid var(--color-linea)
}
.link-accion{
    text-decoration: none;
    color: var(--color-azul);
    /*font-weight: bold;*/
}
.link-accion:hover{
    color: var(--color-red);
}